*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--clr-light: #b6defa;
	--bg-clr: rgba(0, 0, 0, 0.6);
	--bg-drk: rgba(0, 0, 0, 0.75);

	--clr-txt: rgba(255, 255, 255, 1);
	--bg-txt: rgba(255, 255, 255, 0.3);

	--fnt-txt: 'Roboto', sans-serif;
	--txt-wgt: 400;

	--fnt-ttl: 'Heebo', sans-serif;
	--ttl-wgt: 900;
}

body {
	width: 100%;
}

.info-body {
	background: url('../images/Liquid-Cheese.svg');
	background-size: cover;
	position: relative;
	z-index: -10;
}

#home-btn {
	position: fixed;
	z-index: 200;

	background-color: white;
	margin: 15px;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 50px;

	display: grid;
	grid-template-columns: 25% auto;
	align-items: center;
}

#home-btn:focus {
	outline: none;
}

#home-btn > i {
	justify-self: end;
	padding: 5px 6px;
	border-radius: 100%;
	color: var(--clr-txt);
	background-color: var(--bg-clr);
	height: 30px;
	width: 30px;
	font-size: 1.25em;
}

#home-btn > h2 {
	margin-left: 15px;
	justify-self: start;
	height: 100%;
	height: 100%;
	font-family: var(--fnt-txt);
	font-weight: var(--txt-wgt);
	color: var(--bg-drk);
	font-size: 2em;
}

header {
	position: absolute;
	height: min-content;
	width: 100%;
	z-index: -1;
}
header > h1 {
	overflow: hidden;

	font-family: var(--fnt-ttl);
	font-weight: var(--ttl-wgt);
	color: var(--bg-txt);
	font-size: 20em;

	position: absolute;
	z-index: -1;
	width: 100%;
	text-align: right;
	margin-top: 0;
	padding-right: 2%;
}

footer {
	height: 30vh;
	background-color: var(--bg-clr);
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	justify-items: center;
	align-items: center;
}

footer > img {
	margin-top: 3vh;
	width: 10%;
	min-width: 150px;
}

#social-list {
	list-style: none;
	display: flex;
	justify-items: center;
}
#social-list > li {
	margin: 0 .6em;
}

.social-link {
	font-size: 2em;
	color: var(--clr-txt);
	padding: 1em;
}

.trans {
	position: fixed;
	background-color: black;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;

	transition: transform 500ms;
}

.trans-on {
	transform: translateX(0%);
}

.trans-off {
	transform: translateX(-100%);
}

@media (max-width: 800px) {
	header > h1 {
		font-size: 12em;
	}

	.social-link {
		font-size: 1.7em;
	}

	#social-list > li {
		margin: 0 .2em;
	}
}
